/*

STRUCTURE
---------

*/

//fonts
@import "fonts/fonts";

// Variables
@import "config/variables";

@import "components/navigation";

/*
@import "components/header";
@import "components/navigation";


@import "components/content";


@import "components/aside";


@import "components/footer";
*/
// Framework
//@import "framework/grid";

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	      	box-sizing: border-box;

	//@include box-sizing(border-box);
}

body {
	font-family: $base-font;
	font-size: 1em;
	margin: 0 auto;

	-webkit-text-size-adjust: none; // stops the text from becoming bigger on orientation on iPhone / iPad devices
	  -webkit-font-smoothing: antialiased; // makes the font smooth on webkit devices
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.container {
	margin: auto;
	overflow: hidden;
}

img {
	border: none;
}

a {
	text-decoration: none;
}

@media all and (min-width: 1024px) {
	.container {
		width: $container-width;
	}
}